@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');
:root{
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #fd4;
}
body{
    font-family: "Roboto Mono", monospace;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}
main{
    width: 600px;
    margin: 50px auto;
}
h1{
    color: var(--primaryColor);
}
h1 svg{
    width: 40px;
    fill: var(--primaryColor);
}
#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#buttons{
    text-align: right;
}
#info{
    color: var(--primaryColor);
}
button{
    background: rgb(255, 255, 255, .2);
    border: 0;
    color: rgb(255, 255, 255, .7);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}